section.carousel-area.bg-gray-800.py-32
  .container
    .flex
      .w-full.relative
        .portfolio-carousel
          div
            img.w-full(
              alt="" 
              src="../assets/img/slide/img1.jpg"
              )
          div
            img.w-full(
              alt="" 
              src="../assets/img/slide/img2.jpg"
              )
          div
            img.w-full(
              alt="" 
              src="../assets/img/slide/img3.jpg"
              )
          div
            img.w-full(
              alt="" 
              src="../assets/img/slide/img4.jpg"
              )
          div
            img.w-full(
              alt="" 
              src="../assets/img/slide/img5.jpg"
              )
          div
            img.w-full(
              alt="" 
              src="../assets/img/slide/img6.jpg"
              )
