section#subscribes.text-center.py-20.bg-blue-100
  .container
    .flex.justify-center.mx-3
      .w-full(class="sm:w-3/4 md:w-2/3 lg:w-1/2")
        h4.mb-3.section-heading.wow.fadeInUp(data-wow-delay="0.3s") Start For Free
        p.mb-4.text-gray-600.leading-loose.text-sm.wow.fadeInUp(data-wow-delay="0.6s")
          | Existing customized ideas through client-based deliverables.
          br
          | Compellingly unleash fully tested outsourcing
        form(for="")
          .wow.fadeInDown(data-wow-delay="0.3s")
            input.w-full.mb-5.bg-white.border.border-blue-300.rounded-full.px-5.py-3.duration-300.outline-none(
              placeholder="Email Address" 
              name="email" 
              class="focus:border-blue-600" 
              type="Email"
              )
            button.border-0.bg-blue-600.text-white.rounded-full.w-12.h-12.duration-300(
              type="submit" 
              class="hover:opacity-75"
              )
              i.lni.lni-arrow-right
