section#team.py-24.text-center
  .container
    .text-center
      h2.mb-12.section-heading.wow.fadeInDown(data-wow-delay="0.3s") Our Team
    .flex.flex-wrap.justify-center
      .max-w-sm(class="sm:w-1/2 md:w-1/2 lg:w-1/3")
        .team-item
          .team-img.relative
            img.img-fluid(
              alt="" 
              src="../assets/img/team/img1.jpg"
              )
            .team-overlay
              ul.flex.justify-center
                li.mx-1
                  a.social-link(
                    class="hover:bg-indigo-500" 
                    href="#"
                    )
                    i.lni.lni-facebook-original(aria-hidden="true")
                li.mx-1
                  a.social-link(
                    class="hover:bg-blue-400" 
                    href="#"
                    )
                    i.lni.lni-twitter-original(aria-hidden="true")
                li.mx-1
                  a.social-link(
                    class="hover:bg-red-500" 
                    href="#"
                    )
                    i.lni.lni-instagram-original(aria-hidden="true")
          .text-center.px-5.py-3
            h3.team-name John Doe
            p UX UI Designer
      .max-w-sm(class="sm:w-1/2 md:w-1/2 lg:w-1/3")
        .team-item
          .team-img.relative
            img.img-fluid(
              alt="" 
              src="../assets/img/team/img2.jpg"
              )
            .team-overlay
              ul.flex.justify-center
                li.mx-1
                  a.social-link(
                    class="hover:bg-indigo-500" 
                    href="#"
                    )
                    i.lni.lni-facebook-original(aria-hidden="true")
                li.mx-1
                  a.social-link(
                    class="hover:bg-blue-400" 
                    href="#"
                    )
                    i.lni.lni-twitter-original(aria-hidden="true")
                li.mx-1
                  a.social-link(
                    class="hover:bg-red-500" 
                    href="#"
                    )
                    i.lni.lni-instagram-original(aria-hidden="true")
          .text-center.px-5.py-3
            h3.team-name Sarah Doe
            p Front-End Developer
      .max-w-sm(class="sm:w-1/2 md:w-1/2 lg:w-1/3")
        .team-item
          .team-img.relative
            img.img-fluid(
              alt="" 
              src="../assets/img/team/img3.jpg"
              )
            .team-overlay
              ul.flex.justify-center
                li.mx-1
                  a.social-link(
                    class="hover:bg-indigo-500" 
                    href="#"
                    )
                    i.lni.lni-facebook-original(aria-hidden="true")
                li.mx-1
                  a.social-link(
                    class="hover:bg-blue-400" 
                    href="#"
                    )
                    i.lni.lni-twitter-original(aria-hidden="true")
                li.mx-1
                  a.social-link(
                    class="hover:bg-red-500" 
                    href="#"
                    )
                    i.lni.lni-instagram-original(aria-hidden="true")
          .text-center.px-5.py-3
            h3.team-name Rob Hope
            p Front-end Developer
