section#testimonial.py-24.bg-gray-800
  .container
    .flex.justify-center.mx-3
      .w-full(class="lg:w-7/12")
        #testimonials.testimonials
          .item(class="focus:outline-none")
            .text-center.bg-white.py-10.px-8.rounded.border.border-gray-900(class="md:px-10")
              .my-3.mx-auto.w-24.h-24.shadow-md.rounded-full
                img.rounded-full.p-2.w-full(
                  alt="" 
                  src="../assets/img/testimonial/img1.jpg"
                  )
              .mb-2
                h2.font-bold.text-lg.uppercase.text-blue-600.mb-2 Fajar
                h3.font-medium.text-white.text-sm Euphoriya
              .text-center
                p.text-gray-600.leading-loose
                  | Holisticly empower leveraged ROI whereas effective
                  |   web-readiness. Completely enable emerging meta-services
                  |   with cross-platform web services. Quickly initiate
                  |   inexpensive total linkage rather than extensible
                  |   scenarios. Holisticly empower leveraged ROI whereas
                  |   effective web-readiness.

          .item(class="focus:outline-none")
            .text-center.bg-white.py-10.px-8.rounded.border.border-gray-900(class="md:px-10")
              .my-3.mx-auto.w-24.h-24.shadow-md.rounded-full
                img.rounded-full.p-2.w-full(
                  alt="" 
                  src="../assets/img/testimonial/img2.jpg"
                  )
              .mb-2
                h2.font-bold.text-lg.uppercase.text-blue-600.mb-2 Mila
                h3.font-medium.text-white.text-sm PageBulb
              .text-center
                p.text-gray-600.leading-loose
                  | Holisticly empower leveraged ROI whereas effective
                  |   web-readiness. Completely enable emerging meta-services
                  |   with cross-platform web services. Quickly initiate
                  |   inexpensive total linkage rather than extensible
                  |   scenarios. Holisticly empower leveraged ROI whereas
                  |   effective web-readiness.
          .item(class="focus:outline-none")
            .text-center.bg-white.py-10.px-8.rounded.border.border-gray-900(class="md:px-10")
              .my-3.mx-auto.w-24.h-24.shadow-md.rounded-full
                img.rounded-full.p-2.w-full(
                  alt="" 
                  src="../assets/img/testimonial/img1.jpg"
                  )
              .mb-2
                h2.font-bold.text-lg.uppercase.text-blue-600.mb-2 Rob
                h3.font-medium.text-white.text-sm OnePageLove
              .text-center
                p.text-gray-600.leading-loose
                  | Holisticly empower leveraged ROI whereas effective
                  |   web-readiness. Completely enable emerging meta-services
                  |   with cross-platform web services. Quickly initiate
                  |   inexpensive total linkage rather than extensible
                  |   scenarios. Holisticly empower leveraged ROI whereas
                  |   effective web-readiness.
