doctype html
html(
  style="scroll-behavior: smooth;" 
  lang="en"
  )
  head
    meta(charset="utf-8")
    meta(
      content="width=device-width, initial-scale=1, shrink-to-fit=no" 
      name="viewport"
      )
    link(
      type="image/png" 
      href="../assets/img/favicon.png" 
      rel="shortcut icon"
      )
    title Startup - Landing Page Template with TailwindCSS
    link(
      href="../assets/css/LineIcons.2.0.css" 
      type="text/css" 
      rel="stylesheet"
      )
    link(
      href="../assets/css/animate.css" 
      type="text/css" 
      rel="stylesheet"
      )
    link(
      href="../assets/css/tiny-slider.css" 
      type="text/css" 
      rel="stylesheet"
      )
    link(
      href="../assets/css/style.css" 
      type="text/css" 
      rel="stylesheet"
      )
  body
    header#header-wrap.relative
      .navigation.fixed.top-0.left-0.w-full.z-30.duration-300
        .container
          nav.navbar.py-5.navbar-expand-lg.flex.justify-between.items-center.relative.duration-300(class="lg:py-2")
            a.navbar-brand(href="#")
              img(
                alt="Logo" 
                src="../assets/img/logo.svg"
                )
            button.navbar-toggler.block(
              aria-label="Toggle navigation" 
              aria-expanded="false" 
              aria-controls="navbarSupportedContent" 
              data-target="#navbarSupportedContent" 
              data-toggle="collapse" 
              type="button" 
              class="focus:outline-none lg:hidden"
              )
              span.toggler-icon
              span.toggler-icon
              span.toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse.hidden.duration-300.shadow.absolute.top-100.left-0.mt-full.bg-white.z-20.px-5.py-3.w-full(class="lg:block lg:static lg:bg-transparent lg:shadow-none lg:visible")
              ul.navbar-nav.mr-auto.justify-center.items-center(class="lg:flex")
                li.nav-item
                  a.page-scroll.active(href="#hero-area") Home
                li.nav-item
                  a.page-scroll(href="#services") Services
                li.nav-item
                  a.page-scroll(href="#feature") feature
                li.nav-item
                  a.page-scroll(href="#team") Team
                li.nav-item
                  a.page-scroll(href="#testimonial") Testimonial
                li.nav-item
                  a.page-scroll(href="#pricing") Pricing
                li.nav-item
                  a.page-scroll(href="#contact") Contact
            .header-btn.hidden(class="sm:block sm:absolute sm:right-0 sm:mr-16 lg:static lg:mr-0")
              a.block.text-blue-600.border.border-blue-600.px-10.py-3.rounded-full.duration-300(
                href="#feature" 
                class="hover:bg-blue-600 hover:text-white"
                ) FAQ
    include ./sections/hero.pug
    include ./sections/services.pug
    include ./sections/feature.pug
    section#team.py-24.text-center
      .container
        .text-center
          h2.mb-12.section-heading.wow.fadeInDown(data-wow-delay="0.3s") Our Team
        .flex.flex-wrap.justify-center
          .max-w-sm(class="sm:w-1/2 md:w-1/2 lg:w-1/3")
            .team-item
              .team-img.relative
                img.img-fluid(
                  alt="" 
                  src="../assets/img/team/img1.jpg"
                  )
                .team-overlay
                  ul.flex.justify-center
                    li.mx-1
                      a.social-link(
                        class="hover:bg-indigo-500" 
                        href="#"
                        )
                        i.lni.lni-facebook-original(aria-hidden="true")
                    li.mx-1
                      a.social-link(
                        class="hover:bg-blue-400" 
                        href="#"
                        )
                        i.lni.lni-twitter-original(aria-hidden="true")
                    li.mx-1
                      a.social-link(
                        class="hover:bg-red-500" 
                        href="#"
                        )
                        i.lni.lni-instagram-original(aria-hidden="true")
              .text-center.px-5.py-3
                h3.team-name John Doe
                p UX UI Designer
          .max-w-sm(class="sm:w-1/2 md:w-1/2 lg:w-1/3")
            .team-item
              .team-img.relative
                img.img-fluid(
                  alt="" 
                  src="../assets/img/team/img2.jpg"
                  )
                .team-overlay
                  ul.flex.justify-center
                    li.mx-1
                      a.social-link(
                        class="hover:bg-indigo-500" 
                        href="#"
                        )
                        i.lni.lni-facebook-original(aria-hidden="true")
                    li.mx-1
                      a.social-link(
                        class="hover:bg-blue-400" 
                        href="#"
                        )
                        i.lni.lni-twitter-original(aria-hidden="true")
                    li.mx-1
                      a.social-link(
                        class="hover:bg-red-500" 
                        href="#"
                        )
                        i.lni.lni-instagram-original(aria-hidden="true")
              .text-center.px-5.py-3
                h3.team-name Sarah Doe
                p Front-End Developer
          .max-w-sm(class="sm:w-1/2 md:w-1/2 lg:w-1/3")
            .team-item
              .team-img.relative
                img.img-fluid(
                  alt="" 
                  src="../assets/img/team/img3.jpg"
                  )
                .team-overlay
                  ul.flex.justify-center
                    li.mx-1
                      a.social-link(
                        class="hover:bg-indigo-500" 
                        href="#"
                        )
                        i.lni.lni-facebook-original(aria-hidden="true")
                    li.mx-1
                      a.social-link(
                        class="hover:bg-blue-400" 
                        href="#"
                        )
                        i.lni.lni-twitter-original(aria-hidden="true")
                    li.mx-1
                      a.social-link(
                        class="hover:bg-red-500" 
                        href="#"
                        )
                        i.lni.lni-instagram-original(aria-hidden="true")
              .text-center.px-5.py-3
                h3.team-name Rob Hope
                p Front-end Developer
    section#clients.py-16.bg-blue-100
      .container
        .text-center
          h2.mb-12.section-heading.wow.fadeInDown(data-wow-delay="0.3s") As Seen On
        .flex.flex-wrap.justify-center
          div(class="w-1/2 md:w-1/4 lg:w-1/4")
            .m-3.wow.fadeInUp(data-wow-delay="0.3s")
              img.client-logo(
                alt="" 
                src="../assets/img/clients/img1.svg"
                )
          div(class="w-1/2 md:w-1/4 lg:w-1/4")
            .m-3.wow.fadeInUp(data-wow-delay="0.6s")
              img.client-logo(
                alt="" 
                src="../assets/img/clients/img2.svg"
                )
          div(class="w-1/2 md:w-1/4 lg:w-1/4")
            .m-3.wow.fadeInUp(data-wow-delay="0.9s")
              img.client-logo(
                alt="" 
                src="../assets/img/clients/img3.svg"
                )
          div(class="w-1/2 md:w-1/4 lg:w-1/4")
            .m-3.wow.fadeInUp(data-wow-delay="1.2s")
              img.client-logo(
                alt="" 
                src="../assets/img/clients/img4.svg"
                )
    section#testimonial.py-24.bg-gray-800
      .container
        .flex.justify-center.mx-3
          .w-full(class="lg:w-7/12")
            #testimonials.testimonials
              .item(class="focus:outline-none")
                .text-center.bg-white.py-10.px-8.rounded.border.border-gray-900(class="md:px-10")
                  .my-3.mx-auto.w-24.h-24.shadow-md.rounded-full
                    img.rounded-full.p-2.w-full(
                      alt="" 
                      src="../assets/img/testimonial/img1.jpg"
                      )
                  .mb-2
                    h2.font-bold.text-lg.uppercase.text-blue-600.mb-2 Fajar
                    h3.font-medium.text-white.text-sm Euphoriya
                  .text-center
                    p.text-gray-600.leading-loose
                      | Holisticly empower leveraged ROI whereas effective
                      |   web-readiness. Completely enable emerging meta-services
                      |   with cross-platform web services. Quickly initiate
                      |   inexpensive total linkage rather than extensible
                      |   scenarios. Holisticly empower leveraged ROI whereas
                      |   effective web-readiness.

              .item(class="focus:outline-none")
                .text-center.bg-white.py-10.px-8.rounded.border.border-gray-900(class="md:px-10")
                  .my-3.mx-auto.w-24.h-24.shadow-md.rounded-full
                    img.rounded-full.p-2.w-full(
                      alt="" 
                      src="../assets/img/testimonial/img2.jpg"
                      )
                  .mb-2
                    h2.font-bold.text-lg.uppercase.text-blue-600.mb-2 Mila
                    h3.font-medium.text-white.text-sm PageBulb
                  .text-center
                    p.text-gray-600.leading-loose
                      | Holisticly empower leveraged ROI whereas effective
                      |   web-readiness. Completely enable emerging meta-services
                      |   with cross-platform web services. Quickly initiate
                      |   inexpensive total linkage rather than extensible
                      |   scenarios. Holisticly empower leveraged ROI whereas
                      |   effective web-readiness.
              .item(class="focus:outline-none")
                .text-center.bg-white.py-10.px-8.rounded.border.border-gray-900(class="md:px-10")
                  .my-3.mx-auto.w-24.h-24.shadow-md.rounded-full
                    img.rounded-full.p-2.w-full(
                      alt="" 
                      src="../assets/img/testimonial/img1.jpg"
                      )
                  .mb-2
                    h2.font-bold.text-lg.uppercase.text-blue-600.mb-2 Rob
                    h3.font-medium.text-white.text-sm OnePageLove
                  .text-center
                    p.text-gray-600.leading-loose
                      | Holisticly empower leveraged ROI whereas effective
                      |   web-readiness. Completely enable emerging meta-services
                      |   with cross-platform web services. Quickly initiate
                      |   inexpensive total linkage rather than extensible
                      |   scenarios. Holisticly empower leveraged ROI whereas
                      |   effective web-readiness.
    section#pricing.py-24
      .container
        .flex.flex-wrap.justify-center(class="md:justify-start")
          div(class="w-3/4 sm:w-2/3 md:w-1/2 lg:w-1/3")
            .pricing-box.wow.fadeInLeft(data-wow-delay="1.2s")
              .mb-3
                h3.package-name Basic
              .mb-5
                p.text-gray-700
                  span.font-bold.text-2xl $12.90
                  span.font-medium.text-sm / Month
              ul.mb-16
                li.text-gray-500.leading-9 Up to 5 projects
                li.text-gray-500.leading-9 Up to 10 collabrators
                li.text-gray-500.leading-9 2gb of storage
              a.btn(href="#") Get It
          div(class="w-3/4 sm:w-2/3 md:w-1/2 lg:w-1/3")
            .pricing-box.bg-blue-100.wow.fadeInLeft(data-wow-delay="1.2s")
              .mb-3
                h3.package-name PROFESIONAL
              .mb-5
                p.text-gray-700
                  span.font-bold.text-2xl $49.90
                  span.font-medium.text-sm / Month
              ul.mb-16
                li.text-gray-500.leading-9 Up to 10 projects
                li.text-gray-500.leading-9 Up to 20 collabrators
                li.text-gray-500.leading-9 10gb of storage
                li.text-gray-500.leading-9 Real-time collabration
              a.btn(href="#") Get It
          div(class="w-3/4 sm:w-2/3 md:w-1/2 lg:w-1/3")
            .pricing-box
              .mb-3
                h3.package-name EXPERT
              .mb-5
                p.text-gray-700
                  span.font-bold.text-2xl $89.90
                  span.font-medium.text-sm / Month
              ul.mb-16
                li.text-gray-500.leading-9 unlimited projects
                li.text-gray-500.leading-9 Unlimited collabrators
                li.text-gray-500.leading-9 Unlimited of storage
                li.text-gray-500.leading-9 Real-time collabration
                li.text-gray-500.leading-9 24x7 Support
              a.btn(href="#") Get It
    section.carousel-area.bg-gray-800.py-32
      .container
        .flex
          .w-full.relative
            .portfolio-carousel
              div
                img.w-full(
                  alt="" 
                  src="../assets/img/slide/img1.jpg"
                  )
              div
                img.w-full(
                  alt="" 
                  src="../assets/img/slide/img2.jpg"
                  )
              div
                img.w-full(
                  alt="" 
                  src="../assets/img/slide/img3.jpg"
                  )
              div
                img.w-full(
                  alt="" 
                  src="../assets/img/slide/img4.jpg"
                  )
              div
                img.w-full(
                  alt="" 
                  src="../assets/img/slide/img5.jpg"
                  )
              div
                img.w-full(
                  alt="" 
                  src="../assets/img/slide/img6.jpg"
                  )
    section#subscribes.text-center.py-20.bg-blue-100
      .container
        .flex.justify-center.mx-3
          .w-full(class="sm:w-3/4 md:w-2/3 lg:w-1/2")
            h4.mb-3.section-heading.wow.fadeInUp(data-wow-delay="0.3s") Start For Free
            p.mb-4.text-gray-600.leading-loose.text-sm.wow.fadeInUp(data-wow-delay="0.6s")
              | Existing customized ideas through client-based deliverables.
              br
              | Compellingly unleash fully tested outsourcing
            form(for="")
              .wow.fadeInDown(data-wow-delay="0.3s")
                input.w-full.mb-5.bg-white.border.border-blue-300.rounded-full.px-5.py-3.duration-300.outline-none(
                  placeholder="Email Address" 
                  name="email" 
                  class="focus:border-blue-600" 
                  type="Email"
                  )
                button.border-0.bg-blue-600.text-white.rounded-full.w-12.h-12.duration-300(
                  type="submit" 
                  class="hover:opacity-75"
                  )
                  i.lni.lni-arrow-right
    section#contact.py-24
      .container
        .text-center
          h2.mb-12.text-4xl.text-gray-700.font-bold.tracking-wide.wow.fadeInDown(data-wow-delay="0.3s") Contact
        .flex.flex-wrap.contact-form-area.wow.fadeInUp(data-wow-delay="0.4s")
          .w-full(class="md:w-1/2")
            .contact
              h2.uppercase.font-bold.text-xl.text-gray-700.mb-5.ml-3 Contact Form
              form#contactForm(action="../assets/contact.php")
                .flex.flex-wrap
                  .w-full(class="sm:w-1/2 md:w-full lg:w-1/2")
                    .mx-3
                      input#name.form-input.rounded-full(
                        data-error="Please enter your name" 
                        required="" 
                        placeholder="Name" 
                        name="name" 
                        type="text"
                        )
                  .w-full(class="sm:w-1/2 md:w-full lg:w-1/2")
                    .mx-3
                      input#email.form-input.rounded-full(
                        data-error="Please enter your email" 
                        required="" 
                        name="email" 
                        placeholder="Email" 
                        type="text"
                        )
                  .w-full
                    .mx-3
                      input#subject.form-input.rounded-full(
                        data-error="Please enter your subject" 
                        required="" 
                        name="subject" 
                        placeholder="Subject" 
                        type="text"
                        )
                  .w-full
                    .mx-3
                      textarea#message.form-input.rounded-lg(
                        required="" 
                        data-error="Write your message" 
                        rows="5" 
                        placeholder="Your Message" 
                        name="message"
                        )
                  .w-full
                    .submit-button.mx-3
                      button#form-submit.btn(type="submit") Send Message
          .w-full(class="md:w-1/2")
            .ml-3.wow.fadeIn(class="md:ml-12")
              h2.uppercase.font-bold.text-xl.text-gray-700.mb-5 Get In Touch
              div
                .flex.flex-wrap.mb-6.items-center
                  .contact-icon
                    i.lni.lni-map-marker
                  p.pl-3 Skopje, Macedonia
                .flex.flex-wrap.mb-6.items-center
                  .contact-icon
                    i.lni.lni-envelope
                  p.pl-3
                    a.block(href="#") email@gmail.com
                    a.block(href="#") tomsaulnier@gmail.com
                .flex.flex-wrap.mb-6.items-center
                  .contact-icon
                    i.lni.lni-phone-set
                  p.pl-3
                    a.block(href="#") +42 374 5967
                    a.block(href="#") +99 123 5967
    section#google-map-area
      .mx-6.mb-6
        .flex
          .w-full
            object(
              data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.7887109309127!2d-77.44196278417968!3d38.95165507956235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzjCsDU3JzA2LjAiTiA3N8KwMjYnMjMuMiJX!5e0!3m2!1sen!2sbd!4v1545420879707" 
              style="border: 0; height: 450px; width: 100%"
              )
    footer#footer.bg-gray-800.py-16
      .container
        .flex.flex-wrap
          .w-full.wow.fadeInUp(
            data-wow-delay="0.2s" 
            class="sm:w-1/2 md:w-1/2 lg:w-1/4"
            )
            .mx-3.mb-8
              .footer-logo.mb-3
                img(
                  alt="" 
                  src="../assets/img/logo.svg"
                  )
              p.text-gray-300
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                |   Quisquam excepturi quasi, ipsam voluptatem.
          .w-full.wow.fadeInUp(
            data-wow-delay="0.4s" 
            class="sm:w-1/2 md:w-1/2 lg:w-1/4"
            )
            .mx-3.mb-8
              h3.font-bold.text-xl.text-white.mb-5 Company
              ul
                li
                  a.footer-links(href="#") Press Releases
                li
                  a.footer-links(href="#") Mission
                li
                  a.footer-links(href="#") Strategy
          .w-full.wow.fadeInUp(
            data-wow-delay="0.6s" 
            class="sm:w-1/2 md:w-1/2 lg:w-1/4"
            )
            .mx-3.mb-8
              h3.font-bold.text-xl.text-white.mb-5 About
              ul
                li
                  a.footer-links(href="#") Career
                li
                  a.footer-links(href="#") Team
                li
                  a.footer-links(href="#") Clients
          .w-full.wow.fadeInUp(
            data-wow-delay="0.8s" 
            class="sm:w-1/2 md:w-1/2 lg:w-1/4"
            )
            .mx-3.mb-8
              h3.font-bold.text-xl.text-white.mb-5 Find us on
              ul.social-icons.flex.justify-start
                li.mx-2
                  a.footer-icon(
                    class="hover:bg-indigo-500" 
                    href="#"
                    )
                    i.lni.lni-facebook-original(aria-hidden="true")
                li.mx-2
                  a.footer-icon(
                    class="hover:bg-blue-400" 
                    href="#"
                    )
                    i.lni.lni-twitter-original(aria-hidden="true")
                li.mx-2
                  a.footer-icon(
                    class="hover:bg-red-500" 
                    href="#"
                    )
                    i.lni.lni-instagram-original(aria-hidden="true")
                li.mx-2
                  a.footer-icon(
                    class="hover:bg-indigo-600" 
                    href="#"
                    )
                    i.lni.lni-linkedin-original(aria-hidden="true")
    a.back-to-top.w-10.h-10.fixed.bottom-0.right-0.mb-5.mr-5.flex.items-center.justify-center.rounded-full.bg-blue-600.text-white.text-lg.z-20.duration-300(
      class="hover:bg-blue-400" 
      href="#"
      )
      i.lni.lni-arrow-up

    script(src="../assets/js/wow.js")
    script(src="../assets/js/tiny-slider.js")
    script(src="../assets/js/main.js")