doctype html
html(
  style="scroll-behavior: smooth;" 
  lang="en"
  )
  head
    meta(charset="utf-8")
    meta(
      content="width=device-width, initial-scale=1, shrink-to-fit=no" 
      name="viewport"
      )
    link(
      type="image/png" 
      href="../assets/img/favicon.png" 
      rel="shortcut icon"
      )
    title Shine - TailwindCSS Startup and SaaS Landing Page Template
    link(
      href="../assets/css/LineIcons.2.0.css" 
      type="text/css" 
      rel="stylesheet"
      )
    link(
      href="../assets/css/animate.css" 
      type="text/css" 
      rel="stylesheet"
      )
    link(
      href="../assets/css/tiny-slider.css" 
      type="text/css" 
      rel="stylesheet"
      )
    link(
      href="../assets/css/style.css" 
      type="text/css" 
      rel="stylesheet"
      )
  body
    h1 Hello world!

    script(src="../assets/js/wow.js")
    script(src="../assets/js/tiny-slider.js")
    script(src="../assets/js/main.js")